<!DOCTYPE html>
<html lang="pt-br">
<head>
	<title>Página Inicial</title>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
	<link src="https://ajax.googleapis.com/ajax/libs/jqueremaily/3.1.0/jquery.min.js"> </link>
	<script src='https://kit.fontawesome.com/a076d05399.js'></script>
	<link rel="stylesheet" type="text/css" href="./css/style.css">
</head>
<body>
	<header class="header bg-light">
			<div class="row align-items-center">
				<div class="col-1">
					<span onclick="window.location.href='/'" class="fas fa-home"></span>
				</div>
				<div class="col-3">
					<img src= "../assets/logoufrj.jpg" />
				</div>
				<div class="col-3">
					<img src="../assets/logoestadorj.jpg"/>
				</div>
				<div class="col-3">
					<img src="../assets/logocorona.jpg"/>
				</div>
				<div class="col-2"></div>
			</div>
	</header>

	<main>
		<div class="container home">

			<div class="row">
				<div class="col-4"></div>
				<div class="col-4">
					<span onclick="window.location.href='/anamnese'" class="fas fa-clipboard-list">
						<span onclick="window.location.href='/anamnese'" >
							Formulário
						</span>
					</span>
				</div>
				<div class="col-4"></div>
			</div>
			
			<br/>
			<br/>

			<div class="row">
				<div class="col-4"></div>
				<div class="col-4">
					<span onclick="window.location.href='/ocorrencias'" class="fas fa-map">
						<span onclick="window.location.href='/ocorrencias'">
							Mapa
						</span>
					</span>
				</div>
				<div class="col-4"></div>
			</div>


		</div>
	</main>

	<footer class="footer sticky-bottom bg-light">
		<div class="row">
			<div class="col-3">
				<img src="../assets/logonce.png" />
			</div>
			<div class="col-3">
				<img src="../assets/logocoppe.jpg" />
			</div>
			<div class="col-3"></div>
			<div class="col-3">
				<span>
					<b>Desenvolvido por:</b>
					<img src="../assets/logolab.jpg"/>
				</span>
			</div>
		</div>
	</footer>
</body>
</html>